<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/css/style.css" />
    <title>Document</title>
</head>
<body>
                <div>
                    <h1>Please help us map migrant health resources in Europe!</h1>
                    <p>MyHealth is mapping the resources available on migrant health in Europe on an ongoig basis. We kindly would ask you to complete our brief online surveys to add to our repository:</p>
                <ul>
                    <a href="https://it.surveymonkey.com/r/XL7T5KL"> Migrant Resources Mapping: Information about key reference sites for migrants.</a> <br>
                    <br>
                    <a href="https://it.surveymonkey.com/r/HYZQ69Z">Stakeholder Mapping: Information on stakholders interested in our activities, including MyHealth Project dissemination. (click here)</a> <br>
                    <br>
                    <a href="https://it.surveymonkey.com/r/H23ZRQC">App/Website/E-tool Mapping: Information about existing e-tools, including apps or websites.  (click here)</a><br>
                    <br>
                    <a href="https://it.surveymonkey.com/r/H2RQ78D"> Current Studies and Projects Mapping: Information about current studies or project activities at community level</a><br>
                </ul>
                <br>
                <p>The current assessment aimed at providing key aspects of the needs of migrants and refugees in term of health, together with the evaluation of the needs of healthcare professionals in order to provide this service. For this purpose focus groups, individual interviews and online questionnaires were completed. If you are interested in being part of this initiative you could anonymously fill out the survey(s) about current needs of vulnerable refugees and migrants available on the following links:</p>
                <ul>
                    <a href="https://www.surveymonkey.com/r/MyHealthProfessionalsNeeds">For profesisonals</a><br>
                    <br>
                    <a href="https://www.surveymonkey.com/r/MyHealthMigrantsRefugeesNeeds"> For MVR</a>
                </ul>
                </div>
	</body>
</body>
</html>