
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="filtrostyle.css">  <title>Document</title>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <ul>
            <h2>services</h2>
            <li><input type="checkbox" name="services" value="Salud" />Salud</li>
            <li>
              <input type="checkbox" name="services" value="Vivienda" />Vivienda
            </li>
            <li><input type="checkbox" name="services" value="Social" />Social</li>
            <li>
              <input type="checkbox" name="services" value="Escencial" />Escencial
            </li>
            <li>
              <input type="checkbox" name="services" value="Educación" />Educación
            </li>
            <li><input type="checkbox" name="services" value="Extra" />Extra</li>
            <h2>For Whom</h2>
            <li>
              <input type="checkbox" name="forWhom" value="Migrantes" />Migrantes
            </li>
            <li><input type="checkbox" name="forWhom" value="Adultos" />Adultos</li>
            <li>
              <input type="checkbox" name="forWhom" value="Asilo" />Solicitantes de
              asilo
            </li>
            <li><input type="checkbox" name="forWhom" value="Menores" />Menores</li>
            <li>
              <input
                type="checkbox"
                name="forWhom"
                value="Recienllegados"
              />Migrantes recién llegados
            </li>
            <li>
              <input type="checkbox" name="forWhom" value="Refugiados" />Refugiados
            </li>
            <li>
              <input type="checkbox" name="forWhom" value="Profesionales"/>Profesionales
            </li>
            <li>
              <input type="checkbox" name="forWhom" value="Usuariocomun" />Usuario
              Común
            </li>
            <h2>Country</h2>
            <li>
              <input type="checkbox" name="country" value="Alemania" />Alemania
            </li>
            <li>
                <input type="checkbox" name="country" value="España" />España
              </li>
              <li>
                  <input type="checkbox" name="country" value="Grecia" />Grecia
                </li>
                <li>
                    <input type="checkbox" name="country" value="Italia" />Italia
                  </li>
                  <li>
                      <input type="checkbox" name="country" value="Reino Unido" />Reino Unido
                    </li>
                    <li>
                        <input type="checkbox" name="country" value="República Checa" />República Checa
                      </li>

      </div>
      
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
      
      <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
      </script>
  
</body>
</html>


