<div id="filters" class="expanded">
        <div
          class="menuButton"
          style="background:tomato;height:40px;width:40px;float:right;"
        ></div>
        
        <ul>
          <h2>services</h2>
          <li><input type="checkbox" name="services" value="Salud" />Salud</li>
          <li>
            <input type="checkbox" name="services" value="Vivienda" />Vivienda
          </li>
          <li><input type="checkbox" name="services" value="Social" />Social</li>
          <li>
            <input type="checkbox" name="services" value="Escencial" />Escencial
          </li>
          <li>
            <input type="checkbox" name="services" value="Educación" />Educación
          </li>
          <li><input type="checkbox" name="services" value="Extra" />Extra</li>
          <h2>For Whom</h2>
          <li>
            <input type="checkbox" name="forWhom" value="Migrantes" />Migrantes
          </li>
          <li><input type="checkbox" name="forWhom" value="Adultos" />Adultos</li>
          <li>
            <input type="checkbox" name="forWhom" value="Asilo" />Solicitantes de
            asilo
          </li>
          <li><input type="checkbox" name="forWhom" value="Menores" />Menores</li>
          <li>
            <input
              type="checkbox"
              name="forWhom"
              value="Recienllegados"
            />Migrantes recién llegados
          </li>
          <li>
            <input type="checkbox" name="forWhom" value="Refugiados" />Refugiados
          </li>
          <li>
            <input
              type="checkbox"
              name="forWhom"
              value="Profesionales"
            />Profesionales
          </li>
          <li>
            <input type="checkbox" name="forWhom" value="Usuariocomun" />Usuario
            Común
          </li>
          <h2>Country</h2>
          <li>
            <input type="checkbox" name="country" value="Alemania" />Alemania
          </li>
          <li><input type="checkbox" name="country" value="España" />España</li>
          <li><input type="checkbox" name="country" value="Grecia" />Grecia</li>
          <li><input type="checkbox" name="country" value="Irlanda" />Irlanda</li>
          <li><input type="checkbox" name="country" value="Italia" />Italia</li>
          <li>
            <input type="checkbox" name="country" value="ReinoUnido" />Reino Unido
          </li>
          <li>
            <input
              type="checkbox"
              name="country"
              value="CeskaRepublica"
            />República Checa
          </li>
          <div class="dropdown">
          <h2>Host Language</h2>
          <li>Arabe</li>
          <li>Alemán</li>
          <li>Búlgaro</li>
          <li>Catalán</li>
          <li>Chino</li>
          <li>Croata</li>
          <li>Checo</li>
          <li>Coreano</li>
          <li>Danés</li>
          <li>Holandés</li>
          <li>Inglés</li>
          <li>Eslovaco</li>
          <li>Esloveno</li>
          <li>Español</li>
          <li>Estonio</li>
          <li>Findlandés</li>
          <li>Francés</li>
          <li>Greco</li>
          <li>Hindú</li>
          <li>Húngaro</li>
          <li>Irlandés</li>
          <li>Italiano</li>
          <li>Letón</li>
          <li>Lituano</li>
          <li>Polaco</li>
          <li>Portugués</li>
          <li>Rumano</li>
          <li>Ruso</li>
          <li>Español</li>
          <li>Sueco</li>
          <li>Turco</li>
          <li>Urdu</li>
        </div>
        </ul>
        </div>
        <script src="/javascripts/filtros.js"></script>