
    

      <div style="padding-left: 44px; z-index: 1;">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category" >
      </div>
      <div>
        <image type="button" src="./media/filter-512.png" style="font-size:30px;cursor:pointer; width: 14%;
        margin-left: 18%;margin-top: -30px" onclick="openNav()" style= "top: 20px; position: absolute; left: 20px; margin-left: 7%; margin-top: -30px ">
      </div>
      
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
 
        <ul>
            <h2>services</h2>
            <li><input type="checkbox" !checked name="services" value="Salud" />Salud</li>
            <li>
              <input type="checkbox" !checked name="services" value="Vivienda" />Vivienda
            </li>
            <li><input type="checkbox" !checked name="services" value="Social" />Social</li>
            <li>
              <input type="checkbox" !checked name="services" value="Escencial" />Escencial
            </li>
            <li>
              <input type="checkbox" !checked name="services" value="Educación" />Educación
            </li>
            <li><input type="checkbox" !checked name="services" value="Extra" />Extra</li>
            <h2>For Whom</h2>
            <li>
              <input type="checkbox" !checked name="forWhom" value="Migrantes" />Migrantes
            </li>
            <li><input type="checkbox" !checked name="forWhom" value="Adultos" />Adultos</li>
            <li>
              <input type="checkbox" !checked name="forWhom" value="Asilo" />Solicitantes de
              asilo
            </li>
            <li><input type="checkbox" !checked name="forWhom" value="Menores" />Menores</li>
            <li>
              <input
                type="checkbox"
                name="forWhom"
                value="Recienllegados"
              />Migrantes recién llegados
            </li>
            <li>
              <input type="checkbox" !checked name="forWhom" value="Refugiados" />Refugiados
            </li>
            <li>
              <input type="checkbox" !checked name="forWhom" value="Profesionales"/>Profesionales
            </li>
            <li>
              <input type="checkbox" !checked name="forWhom" value="Usuariocomun" />Usuario
              Común
            </li>
            <h2>País</h2>
            <li>
              <input type="checkbox" !checked name="country" value="Alemania" />Alemania
            </li>
            <li>
                <input type="checkbox" !checked name="country" value="España" />España
              </li>
              <li>
                  <input type="checkbox" !checked name="country" value="Grecia" />Grecia
                </li>
                <li>
                    <input type="checkbox" !checked name="country" value="Italia" />Italia
                  </li>
                  <li>
                      <input type="checkbox" !checked name="country" value="Reino Unido" />Reino Unido
                    </li>
                    <li>
                        <input type="checkbox" !checked name="country" value="República Checa" />República Checa
                      </li>
                      <h2>Idioma</h2>
                      <li>
                        <input type="checkbox" !checked name="country" value="aleman" />Alemán
                      </li>
                      <li>
                        <input type="checkbox" !checked name="language" value="arabe" />Arabe
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="bulgaro" />Búlgaro
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="catalan" />Catalán
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="chino" />Chino
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="coreano" />Coreano
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="croata" />Croata
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="checo" />Checo
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="danes" />Danés
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="holandes" />Holandés
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="ingles" />Inglés
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="eslovaco" />Eslovaco
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="eslovenio" />Eslovenio
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="español" />Español
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="estonio" />Estonio
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="finlandes" />Finlandés
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="frances" />Francés
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="griego" />Griego
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="hindu" />Hindú
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="hungaro" />Húngaro
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="irlandes" />Irlandés
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="italiano" />Italiano
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="leton" />Letón
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="lituano" />Lituano
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="polaco" />Polaco
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="portugues" />Portugués
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="rumano" />Rumano
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="ruso" />Ruso
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="sueco" />Sueco
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="turco" />Turco
                      </li>
                      <li>
                        <input type="checkbox" !checked name="country" value="urdu" />Urdú
                      </li>
                      <button>Search</button>
      </div>
      
     
     
      
      
      <script>


function myFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("mySearch");
  filter = input.value.toUpperCase();
  ul = document.getElementById("myMenu");
  li = ul.getElementsByTagName("li");
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}

      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
      </script>
  



