<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/css/style.css" />

	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to the <%= title.toLowerCase() %> page</p>


		<a href="/forms/eTools">eTools</a>

		<a href="/forms/migrant">migrants</a>

		<a href="/forms/stakeholder">stakeholders</a>

		<a href="/forms/studies">studies</a>

		<br>

		<a href="/map">Map</a>

	</body>
</html>
