
<div class="menu">


	<div class="search-container">
		<form action="/action_page.php">

			<input type="text" placeholder="Search.." name="search">

			<button type="submit"><i class="search"><img src="/lupita.png" alt="" style="width: 14px;

						height: 14px;"></i></button>
		</form>
	</div>
	<a class="comousar">COMO USAR</a>



	<div class="dropdown">
		<span class="agregacentro">AGREGA UN CENTRO</span>
		<div class="dropdown-content">
			<p href="/forms/eTools">eTools</p>
			<p href="/forms/migrant">Migrants</p>
			<p href="/forms/stakeholder">Stakeholders</p>
			<p href="/forms/studies">Studies</p>
		</div>
	</div>

	<a class="contacto" href="/contact">CONTACTO</a>


</div>