<nav role="navigation">
	<div id="menuToggle">

		<input type="checkbox" />
		<span></span>
		<span></span>
		<span></span>
		<ul id="menu">
			
				<label><input type="checkbox" id="cbox1" value="vivienda"> Vivienda</label><br>
			<a href="#">
				<li>Vivienda</li>
			</a>
			<a href="#">
				<li>Social</li>
			</a>
			<a href="#">
				<li>Esencial</li>
			</a>
			<p>Para quién</p>
			<p>MIGRANTES</p>
			<a href="#">
				<li>Adultos</li>
			</a>
			<a href="#">
				<li>Solicitantes de asilo</li>
			</a>
			<a href="#">
				<li>Menores</li>
			</a>
			<a href="#">
				<li>Migrantes recién llegados</li>
			</a>
			<a href="#">
				<li>Refugiados</li>
			</a>
			<p>PROFESIONALES</p>
			<a href="#">
				<li>Profesional</li>
			</a>
			<a href="#">
				<li>Usuario común</li>
			</a>
		

		</ul>
	</div>
</nav>

<div class="menu">


	<div class="search-container">
		<form action="/action_page.php">

			<input type="text" placeholder="Search.." name="search">

			<button type="submit"><i class="search"><img src="/lupita.png" alt="" style="width: 14px;

						height: 14px;"></i></button>
		</form>
	</div>
	<a class="comousar">COMO USAR</a>



	<div class="dropdown">
		<span class="agregacentro">AGREGA UN CENTRO</span>
		<div class="dropdown-content">
			<p href="/forms/eTools">eTools</p>
			<p href="/forms/migrant">Migrants</p>
			<p href="/forms/stakeholder">Stakeholders</p>
			<p href="/forms/studies">Studies</p>
		</div>
	</div>

	<a class="contacto" href="/contact">CONTACTO</a>


</div>