<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/css/style.css" />
		<link rel="stylesheet" href="/stylesheets/css/filtrostyle.css" />
        <link rel="stylesheet" href="/stylesheets/css/map.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
         
		</head>
	<body>

		

	
		<div id="#mapContainer">
			<%- include("navbartutorial") %>
            <div class="arrow animated infite fadeInDown"><span>&#8595;</span>

            <div style="background-color:#d2edf6;border-radius:12px;"><p class="parrafo">Utiliza los filtros para que tu búsqueda sea específica: <br> selecciona la ubicación geográfica, si quieres buscar centros de salud, de vivienda, etc</p></div>
            </div>
			<div class="arrow1 animated infite fadeInDown"><span>&#8595;</span>

				<div style="background-color:#d2edf6;border-radius: 12px;"><p class="parrafo">Si deseas subir información sobre algún centro de atención, presiona en "Agrega tu centro" y completa el formulario</p></div>
				</div>
			<div id="map"/>
        </div>
       

		

		<script src="/javascripts/map/mainMap.js"></script>
		<script
			async
			defer
			src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
   
        </body>
    <style>
    .arrow{
        position:absolute;
        z-index: 1;
        padding-top: 2%
	
    }
    .arrow1{
		position:absolute;
        z-index: 1;
		padding-left: 76%;
		font-size: 80px;
		padding-right: 3%;
	}
    .parrafo{
	font-size:23%;
	background-color: aquamarine;
	color: black;
	border-radius: 12px;
	}
    </style>
</html>
