.menuButton {
  width: 100 px;  
  height: 30 px;  
  position: absolute;  
  top: 10 px;  
  left: 1 px;  
}


body {
    display: grid;
    background: #aeaeae;
  }
  
  #filters {
    height: 400px;
  
    width: 200px;
  
    
 }
  
  #filters.expanded {
    background: #d2edf6;
  }
  