<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>APP/E-TOOLS MAPPING</title>
</head>
<body>
<h1>APP/E TOOLS MAPPING</h1>
<br>
<br>     
  <form action="/forms/migrant" method="post">
    <p>1. Your email address:</p> 
    <input type="text" name="emailAddress">
    <br>        
    <p>2.Name of the App/Website/E-tool</p>
    <input type="text" name="appWebsiteEtoolName">    
    <br>
    <p>3 .Link</p>
    <input type="text" name="link">        
    <br>
    <p> 4. Brief description (max 144 characters) of the App/Website/E-tool<br>
    This description will be immediately visible on the interactive map. In order to be effective and to
    best promote the organisation/service try to be clear, short, simple, like in a tweet. (This question
    requires at least 1 answer).</p>
    <p>In your local language:</p><input type="text" class="form-control" name="descriptionlocal"><br>
    <p>In English:</p> <input type="text" class="form-control" name="descriptionenglish"><br>
    <p>In another language:</p> <input type="text" class="form-control" name="descriptionother">
    <br>
    <br>
    <p>5.Year of creation</p>
    <input type="text" name="yearOfCreation">
    <br>
    <br>
    <p>6.Store</p>
    <input type="checkbox" name="store" value="appleAppStore">Apple App Store (iOS)
    <input type="checkbox" name="store" value="windowsStore">Windows Store (Windows Phone OS)
    <input type="checkbox" name="store" value="googlePlayStore)">Google Play Store (Android)
    <input type="checkbox" name="store" value="blackBerryWorld">BlackBerry World (BlackBerry 0S)
    <input type="checkbox" name="store" value="other">Other (please specify)
    <input type="text" class="form-control" name="primaryTarget" disabled value="">
    <br>
    <br>
    <p>7.Cost</p>
    <input type= "checkbox" name ="cost" value="Free">Free    
    <input type= "checkbox" name ="cost" value="other">Other
    <input type="text" class="form-control" name="cost" disabled value="">
    <br>
    <br>                
    <p>8. Main target of the App/Website/E-tool</p>
    <input type="checkbox" name="primaryTarget" value="generalPopulation">general population
    <input type="checkbox" name="primaryTarget" value="generalMigrants">general migrants
    <input type="checkbox" name="primaryTarget" value="newlyArrivedMigrants">newly
    arrived migrants (less than 5 years)
    <input type="checkbox" name="primaryTarget" value="asylumSeekers">asylum seekers
    <input type="checkbox" name="primaryTarget" value="refugees">Refugees
    <input type="checkbox" name="primaryTarget"
    value="healthcare professionals (doctors, nurses...)">healthcare professionals (doctors, nurses...)
    <input type="checkbox" name="primaryTarget" value="socialCareProfessionals">social care professionals
    <input type="checkbox" name="primaryTarget" value="other">Other (please specify)
    <input type="text" class="form-control" name="primaryTarget" disabled value="">
    <br>
    <br>    
    <p>9. Main target of the App/Website/E-tool(gender)</p>
    <input type="checkbox" name="genderTarget" value="female">Female
    <input type="checkbox" name="genderTarget" value="male">Male
    <input type="checkbox" name="genderTarget" value="other (please specify)">Other (please specify)
    <br>
    <br>
    <p>10. If applicable: Main target of the App/Website/E-tool(legally adults/minors)
    adults/minors)...</p>
    <input type="checkbox" name="ageDirected" value="adult">Adult
    <input type="checkbox" name="ageDirected" value="minor">Minor
    <br>
    <br>
    <p>11. Type of informations provided by the App/Website/E-tool (please check max 3 answers) </p>
    <br>
    <input type="checkbox" name="typeOfInfoProvided" value="healthCare">health care 
    <input type="checkbox" name="typeOfInfoProvided" value="social car">social care 
    <input type="checkbox" name="typeOfInfoProvided" value="legalAssistance">legal assistance 
    <input type="checkbox" name="typeOfInfoProvided" value="generalLivingInformation">general living
    information
    <input type="checkbox" name="typeOfInfoProvided" value="culturalSupport">cultural support and social integration (e.g.
    mediation, translation, advising/orientation, support groups...)
    <input type="checkbox" name="typeOfInfoProvided"
    value="education">education, learning (e.g.language courses)
    <input type="checkbox" name="typeOfInfoProvided"
    value="recreationalCulturalSport">recreational, cultural, sport activities
    <input type="checkbox" name="typeOfInfoProvided"
    value="employment and employment training services">employment and employment training services
    <input type="checkbox" name="typeOfInfoProvided" value="housingShelter">housing, shelter
    <input type="checkbox" name="typeOfInfoProvided" value="essentialGoods">essential goods
    (food, clothes...)
    <input type="checkbox" name="typeOfInfoProvided" value="other">Other (please specify)
    <input type="text" class="form-control" name="mainActivities" disabled value="">
    <br>
    <br>
    <p>10. Are there any specific requirements to access?:</p>
    <input type="checkbox" name="specificRequirement" value="yes">Yes
    <input type="checkbox" name="specificRequirement" value="no">No
    <br>
    <br>        
    <p>11. If yes, please list the specific requirements</p>
    <input type="text" class="form-control" name="specificRequirements" disabled value="">
    <br>
    <br>    
    <p>12. Available languages</p>          
    <input type="checkbox" name="language" value="Arabic"> Arabic
    <input type="checkbox" name="language" value="Basque">Basque
    <input type="checkbox" name="language" value="Bulgarian">Bulgarian
    <input type="checkbox" name="language" value="Catalan">Catalan
    <input type="checkbox" name="language" value="Chinese">Chinese
    <input type="checkbox" name="language" value="Croatian">Croatian
    <input type="checkbox" name="language" value="Czech">Czech
    <input type="checkbox" name="language" value="Danish">Danish
    <input type="checkbox" name="language" value="Dutch">Dutch
    <input type="checkbox" name="language" value="English">English
    <input type="checkbox" name="language" value="Estonian">Estonian
    <input type="checkbox" name="language" value="Finnish">Finnish
    <input type="checkbox" name="language" value="French">French
    <input type="checkbox" name="language" value="Galician">Galician
    <input type="checkbox" name="language" value="German">German
    <input type="checkbox" name="language" value="Greek">Greek
    <input type="checkbox" name="language" value="Hindi">Hindi
    <input type="checkbox" name="language" value="Hungarian">Hungarian
    <input type="checkbox" name="language" value="Irish">Irish
    <input type="checkbox" name="language" value="Italian">Italian
    <input type="checkbox" name="language" value="Japanese">Japanese
    <input type="checkbox" name="language" value="Korean">Korean
    <input type="checkbox" name="language" value="Latvian">Latvian
    <input type="checkbox" name="language" value="Lithuanian"Lithuanian>
    <input type="checkbox" name="language" value="Luxembourgish">Luxembourgish
    <input type="checkbox" name="language" value="Maltese">Maltese
    <input type="checkbox" name="language" value="Polish"> Polish 
    <input type="checkbox" name="language" value="Portuguese">Portuguese 
    <input type="checkbox" name="language" value="Romanian">Romanian 
    <input type="checkbox" name="language" value="Russian">Russian 
    <input type="checkbox" name="language" value="Scottish_Gaelic"> Scottish Gaelic 
    <input type="checkbox" name="language" value="Slovak">Slovak 
    <input type="checkbox" name="language" value="Slovenian">Slovenian 
    <input type="checkbox" name="language" value="Spanish">Spanish
    <input type="checkbox" name="language" value="Swedish">Swedish
    <input type="checkbox" name="language" value="Turkish">Turkish
    <input type="checkbox" name="language" value="Urdu">Urdu 
    <input type="checkbox" name="language" value="Welsh"> Welsh
    <input type="checkbox" name="language" value="Other (please specify)">Other (please specify)
    <input type="text" class="form-control" name="language" disabled value="">
    <br>
    <br>             
    <p>13. Geographical scope of the App/Website/E-tool<br>
    Informations provided by the App/Website/E-tool refer to...</p>      
    <input type="checkbox" name="organisationCountry" value="EUROPEAN UNION - wide"> EUROPEAN UNION - wide
    <input type="checkbox" name="organisationCountry" value="Austria"> Austria
    <input type="checkbox" name="organisationCountry" value="Belgium"> Belgium
    <input type="checkbox" name="organisationCountry" value="Bulgaria"> Bulgaria
    <input type="checkbox" name="organisationCountry" value="Croatia"> Croatia
    <input type="checkbox" name="organisationCountry" value="Cyprus"> Cyprus
    <input type="checkbox" name="organisationCountry" value="Czech Republic"> Czech Republic
    <input type="checkbox" name="organisationCountry" value="Denmark"> Denmark
    <input type="checkbox" name="organisationCountry" value="Estonia"> Estonia
    <input type="checkbox" name="organisationCountry" value="Finland"> Finland
    <input type="checkbox" name="organisationCountry" value="France"> France
    <input type="checkbox" name="organisationCountry" value="Germany"> Germany
    <input type="checkbox" name="organisationCountry" value="Greece"> Greece
    <input type="checkbox" name="organisationCountry" value="Hungary"> Hungary
    <input type="checkbox" name="organisationCountry" value="Ireland"> Ireland
    <input type="checkbox" name="organisationCountry" value="Italy"> Italy
    <input type="checkbox" name="organisationCountry" value="Latvia"> Latvia
    <input type="checkbox" name="organisationCountry" value="Lithuania"> Lithuania
    <input type="checkbox" name="organisationCountry" value="Luxembourg"> Luxembourg
    <input type="checkbox" name="organisationCountry" value="Malta"> Malta
    <input type="checkbox" name="organisationCountry" value="Netherlands"> Netherlands
    <input type="checkbox" name="organisationCountry" value="Poland"> Poland
    <input type="checkbox" name="organisationCountry" value="Portugal"> Portugal
    <input type="checkbox" name="organisationCountry" value="Romania"> Romania
    <input type="checkbox" name="organisationCountry" value="Slovakia"> Slovakia
    <input type="checkbox" name="organisationCountry" value="Slovenia"> Slovenia
    <input type="checkbox" name="organisationCountry" value="Spain"> Spain
    <input type="checkbox" name="organisationCountry" value="Sweden"> Sweden
    <input type="checkbox" name="organisationCountry" value="United Kingdom"> United Kingdom
    <input type="checkbox" name="" value=""> Other (please specify)
    <input type="text" class="form-control" name="organisationCountry" disabled value="">
    <br>
    <br>
    <p>14. Do you know about other App/Website/E-tool that may be relevant for the purpose of
      MYHEALTH project?</p>
    <br>
    <input type="radio" name="relevantOther" value="yes">Yes
    <input type="radio" name="relevantOther" value="no">No
    <br>
    <br>
    <p>15. If yes, please provide other App/Website/E-tool information</p>
    Name<input type="text" name="nameOtherApp">            
    Website<input type="text" name="linkOtherApp">
    <br>
    <br>
    <p>16. If you have any comment or question please feel free to write to
    giovanni.ragazzi@regione.emilia-romagna.it or share your thoughts/suggestions in the space below.</p>
    <input type="text" name="comment"><br>
    <input type="button" class="btn btn-success" value="PREV">
    <input type="submit" class="btn btn-danger" value="Done">
  </form>
</body>
</html>





