<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <form action="/forms/migrant" method="post">
    <div class="partes">
      <h1>Formulario</h1>
    </div>
    <fieldset>
      <legend>MIGRANT RESOURCES MAPPING</legend>


      <p>1. Your email address: <input type="text" name="emailAddres">
        <br>
        <br>
        2. Name of the Organisation/Service: <input type="text" name="organisationName">
        <br>
        <br>
      </p>3. Type of Organisation/Service:
      <select name="organisationType">
        <option selected value="Government Program"> Government Program
        <option value="NGO"> NGO
        <option value="Specify Other"> Other (please specify)
        <option value="NGO with convention with Government"> NGO with convention with Government
      </select></p>

      <br>
      <div class="container" style="max-width: 650px; min-width: 400px;">
        <div class="card">
          <div class="card-body">
            <form id="myForm" onsubmit="return validar()">
              <div class="form-group">
                <legend>4. Brief description (max 144 characters) of the Organisation/Service:</legend>
                <p>This description will be immediately visible on the interactive map. In order to be effective and to
                  best promote the organisation/service try to be clear, short, simple, like in a tweet. (This question
                  requires at least 1 answer).</p>
                <label for="user">In your local language:</label>
                <input type="text" class="form-control" name="descriptionlocal"><br>
                <label for="user">In English:</label>
                <input type="text" class="form-control" name="descriptionenglish"><br>
                <label for="user">In another language:</label>
                <input type="text" class="form-control" name="descriptionother">

              </div>
              <br>
              <div class="form-group">
                <legend>5. Primary country of the Organisation/Service:</legend>
                <p>In which country(-ies) is the Organisation/Service located and active?</p>

                <input type="checkbox" name="organisation-country"value="EUROPEAN UNION - wide"> EUROPEAN UNION - wide
                <input type="checkbox" name="organisation-country" value="Austria"> Austria
                <input type="checkbox" name="organisation-country"value="" >
                Belgium
                <input type="checkbox" name="organisation-country"value="Bulgaria" > Bulgaria
                <input type="checkbox" name="organisation-country"value="Croatia" > Croatia
                <input type="checkbox" name="organisation-country"value="Cyprus"> Cyprus
                <input type="checkbox" name="organisation-country"value="Czech Republic"> Czech Republic
                <input type="checkbox" name="organisation-country"value="Denmark"> Denmark
                <input type="checkbox" name="organisation-country"value="Estonia"> Estonia
                <input type="checkbox" name="organisation-country"value="Finland"> Finland
                <input type="checkbox" name="organisation-country"value="France"> France
                <input type="checkbox" name="organisation-country"value="Germany"> Germany
                <input type="checkbox" name="organisation-country"value="Greece">Greece
                <input type="checkbox" name="organisation-country"value="Hungary">Hungary
                <input type="checkbox" name="organisation-country"value="Ireland">Ireland
                <input type="checkbox" name="organisation-country"value="">
                Italy
                <input type="checkbox" name="organisation-country"value=""> Latvia
                <input type="checkbox" name="organisation-country"value=""> Lithuania
                <input type="checkbox" name="organisation-country"value=""> Luxembourg
                <input type="checkbox" name="organisation-country"value=""> Malta
                <input type="checkbox" name="organisation-country"value=""> Netherlands
                <input type="checkbox" name="organisation-country"value="">
                Poland
                <input type="checkbox" name="organisation-country" value=""> Portugal
                <input type="checkbox" name="organisation-country" value=""> Romania
                <input type="checkbox" name="organisation-country" value=""> Slovakia
                <input type="checkbox" name="organisation-country" value="">
                Slovenia
                <input type="checkbox" name="organisation-country" value=""> Spain
                <input type="checkbox" name="organisation-country" value=""> Sweden
                <input type="checkbox" name="organisation-country" value=""> United Kingdom
                <input type="checkbox" name="organisation-country"value="other"> Other (please specify)
                <input type="text" name="organization-country">
                <br>
                <br>

                <legend>6. The primary target(s) of the Organisation/Service's activities is/are...</legend>
                <input type="checkbox" name="primaryTarget">general population
                <input type="checkbox" name="primaryTarget">general migrants
                <input type="checkbox" name="primaryTarget">newly arrived migrants (less than 5 years)
                <input type="checkbox" name="primaryTarget">asylum seekers
                <input type="checkbox" name="primaryTarget">Other (please specify)
                <input type="checkbox" name="primaryTarget">Refugees
                <input type="checkbox" name="primaryTarget">healthcare professionals (doctors, nurses...)
                <input type="checkbox" name="primaryTarget">social care professionals
                <br>
                <br>
                <legend>7. If applicable: The activities of the Organisation/Service are directed to (gender)...
                </legend>
                <input type="checkbox" name="genderTarget">Female
                <input type="checkbox" name="genderTarget">Other (please specify)
                <input type="checkbox" name="genderTarget">Male
                <br>
                <br>
                <label>8. If applicable: The activities of the Organisation/Service are directed to (legally
                  adults/minors)...</label>
                <input type="checkbox" name="ageDirected">Adult
                <input type="checkbox" name="ageDirected">Minor


                <br>
                <br>
                <label>9. Main activities of the Organisation/Service (please check max 3 answers) are...</label>
                <br>
                <input type="checkbox" name="mainActivities">health care provider
                <input type="checkbox" name="mainActivities">social care provider
                <input type="checkbox" name="mainActivities">legal assistance provider
                <input type="checkbox" name="mainActivities">general living information
                <input type="checkbox" name="mainActivities">cultural support and social integration (e.g.
                mediation, translation, advising/orientation, support groups...)
                <input type="checkbox" name="mainActivities">education, learning (e.g.language courses)
                <input type="checkbox" name="mainActivities">recreational, cultural, sport activities
                <input type="checkbox" name="mainActivities">employment and employment training services
                <input type="checkbox" name="mainActivities">housing, shelter
                <input type="checkbox" name="mainActivities">essential goods (food, clothes...)
                <input type="checkbox" name="mainActivities">Other (please specify)
                <br>
                
                  
                <br>
                  <label>10. Are there any specific requirements to access?:</label>
                  <input type="checkbox" name="specificRequirement">Yes
                  <input type="checkbox" name="specificRequirement">No
                  <br>
             
                <label>11. If yes, please list the specific requirements
                  <br>
                  <input type="text" name="specific requirements">
                  <br>
                  <br>
                  <label>12. Cost</label>
                  <br>
                  <input type="checkbox" name="free">Free
                  <input type="checkbox" name="free with application">Free with application
                  <input type="checkbox" name="other">Other (please specify)
                  <input type="checkbox" name="Subsidized">Subsidised
                  <input type="checkbox" name="charged to patient">Charged to patient
                  <br>
                  <br>
                  <label>13. Spoken languages</label>
                  <br>
                  <p>Which language(s) is/are used in the Organisation/Service?</p>
                  <select>
                    <option value="language">Seleccionar</option>
                    <option value="language">
                      Arabic</option>
                    <option value="language">Basque</option>
                    <option value="language">Bulgarian</option>
                    <option value="language">Catalan
                    </option>
                    <option value="language">Chinese
                    </option>
                    <option value="language">Croatian
                    </option>
                    <option value="language">Czech
                    </option>
                    <option value="language">Danish
                    </option>
                    <option value="language">Dutch
                    </option>
                    <option value="language">English
                    </option>
                    <option value="language">Estonian
                    </option>
                    <option value="language">Finnish
                    </option>
                    <option value="language">French
                    </option>
                    <option value="language">Galician
                    </option>
                    <option value="language">German
                    </option>
                    <option value="language">Greek
                    </option>
                    <option value="language">Hindi
                    </option>
                    <option value="language">Hungarian
                    </option>
                    <option value="language">Irish
                    </option>
                    <option value="language">Other (please specify)
                    </option>
                    <option value="language">
                      Italian
                    </option>
                    <option value="language">Japanese
                    </option>
                    <option value="language">
                      Korean
                    </option>
                    <option value="language">Latvian
                    </option>
                    <option value="language">
                      Lithuanian
                    </option>
                    <option value="language">Luxembourgish
                    </option>
                    <option value="language">Maltese
                    </option>
                    <option value="language">Polish
                    </option>
                    <option value="language">Portuguese
                    </option>
                    <option value="language">Romanian
                    </option>
                    <option value="language">
                      Russian
                    </option>
                    <option value="language">Scottish Gaelic

                    </option>
                    <option value="language">Slovak
                    </option>
                    <option value="language">Slovenian
                    </option>
                    <option value="language">Spanish
                    </option>
                    <option value="language">Swedish
                    </option>
                    <option value="language">Turkish
                    </option>
                    <option value="language">
                      Urdu
                    </option>
                    <option value="language">Welsh
                    </option>
                  </select>
                  <br>
                  <br>
                  <label>14. Head office address and contact information:</label>
                  <br>
                  <div class="a">

                    Name
                    <input type="text" name="surname"><br> Surname
                    <input type="text" name="adress"> <br> Address
                    <input type="text" name="adress2"><br>Address 2
                    <input type="text" name="city"><br>City/Town
                    <input type="text" name="province"><br>Province
                    <input type="text" name="ZIP"><br>ZIP/Postal Code
                    <input type="text" name="country"><br>Country
                    <input type="text" name="email"><br>Email Address
                    <input type="text" name="phonenumber"><br>Phone Number
                    <input type="text">
                    <br>
                    <br></div>
                    <label>15. Additional contact information
                    </label>
                    <br>
                    Name
                    <input type="text" name="surname aditional">Surname
                    <input type="text" name="adress aditional">Address
                    <input type="text" name="adress aditional 2">Address 2
                    <input type="text" name="city aditional">City/Town
                    <input type="text" name="province aditional">Province
                    <input type="text" name="zip aditional">ZIP/Postal Code
                    <input type="text" name="country aditional">Country
                    <input type="text" name="email aditional">Email Address
                    <input type="text" name="phone number aditional">Phone Number
                    <br>
                    <br>
                    <label>16. Website</label>
                    <input type="text" name="website">
                    <br>
                    <p>Copy and paste the web address of the Organisation/Service</p>
                    <input type="text" name="website">
                    <br>
                    <br>
                  
                    <br>
                    <br>
                    <label>17.Opening hours</label>
                    <input type="text" name="website">
                    <br>
                    <br>

                    <label>18. Do you know about other Organisation/Service that may be relevant for the purpose of
                      MYHEALTH project?</label>
                    <br>
                    <input type="radio" name="relevantOther">Yes
                    <input type="radio" name="relevantOther">No
                    <br>
                    <br>
                    <label>19. If yes, please provide other Organisation/Service contact information
                    </label>
                    <br>
                    Name
                    <input type="text" name="surnameotherservice">Surname
                    <input type="text" name="email other service">Email
                    <input type="text" name="phone number other service">Phone number
                    <input type="text" name="website other service">Website
                    <br>
                    <br>
  
                    20. If you have any comment or question please feel free to write to
                    giovanni.ragazzi@regione.emilia-romagna.it or share your thoughts/suggestions in the space below.
                  </label><br>
                  <br>
                  <input type="text" name="comment"><br>
                  <input type="button" class="btn btn-success" value="PREV">
                  <input type="submit" class="btn btn-danger" value="Done">
                </div>
              </form>
  </body>
  
  </html>