<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <form action="/forms/stakeholder" method="post">
    <div class="partes">
      <h1>Formulario</h1>
    </div>
    <fieldset>
      <legend>MIGRANT RESOURCES MAPPING</legend>


      <p>1. Your email address: <input type="text" name="emailAddres">
        <br>
        <br>
        2. Name of the Organisation/Service: <input type="text" name="organisationName">
        <br>
        <br>
      </p>3. Type of Organisation/Service:
      <select name="organisationType">
        <option selected value="Government Program"> Government Program
        <option value="NGO"> NGO
        <option value="Specify Other"> Other (please specify)
        <option value="NGO with convention with Government"> NGO with convention with Government
      </select></p>

      <br>
      <div class="container" style="max-width: 650px; min-width: 400px;">
        <div class="card">
          <div class="card-body">
            <form id="myForm" onsubmit="return validar()">
              <div class="form-group">
                <legend>4. Brief description (max 144 characters) of the Organisation/Service:</legend>
                <p>This description will be immediately visible on the interactive map. In order to be effective and to
                  best promote the organisation/service try to be clear, short, simple, like in a tweet. (This question
                  requires at least 1 answer).</p>
                <label for="user">In your local language:</label>
                <input type="text" class="form-control" name="descriptionlocal"><br>
                <label for="user">In English:</label>
                <input type="text" class="form-control" name="descriptionenglish"><br>
                <label for="user">In another language:</label>
                <input type="text" class="form-control" name="descriptionother">

              </div>
              <br>
              <div class="form-group">
                <legend>5. Primary country of the Organisation/Service:</legend>
                <p>In which country(-ies) is the Organisation/Service located and active?</p>

                <input type="checkbox" name="organisation-country"> EUROPEAN UNION - wide
                <input type="checkbox" name="organisation-country" value="Austria"> Austria
                <input type="checkbox" name="organisation-country"> Belgium
                <input type="checkbox" name="organisation-country"> Bulgaria
                <input type="checkbox" name="organisation-country"> Croatia
                <input type="checkbox" name="organisation-country"> Cyprus
                <input type="checkbox" name="organisation-country"> Czech Republic
                <input type="checkbox" name="organisation-country"> Denmark
                <input type="checkbox" name="organisation-country"> Estonia
                <input type="checkbox" name="organisation-country"> Finland
                <input type="checkbox" name="organisation-country"> France
                <input type="checkbox" name="organisation-country"> Germany
                <input type="checkbox" name="organisation-country"> Greece
                <input type="checkbox" name="organisation-country"> Hungary
                <input type="checkbox" name="organisation-country"> Ireland
                <input type="checkbox" name="organisation-country"> Italy
                <input type="checkbox" name="organisation-country"> Latvia
                <input type="checkbox" name="organisation-country"> Lithuania
                <input type="checkbox" name="organisation-country"> Luxembourg
                <input type="checkbox" name="organisation-country"> Malta
                <input type="checkbox" name="organisation-country"> Netherlands
                <input type="checkbox" name="organisation-country"> Poland
                <input type="checkbox" name="organisation-country"> Portugal
                <input type="checkbox" name="organisation-country"> Romania
                <input type="checkbox" name="organisation-country"> Slovakia
                <input type="checkbox" name="organisation-country"> Slovenia
                <input type="checkbox" name="organisation-country"> Spain
                <input type="checkbox" name="organisation-country"> Sweden
                <input type="checkbox" name="organisation-country"> United Kingdom
                <input type="checkbox" name="organisation-country"> Other (please specify)
                <br>
                <br>

                <legend>6. The primary target(s) of the Organisation/Service's activities is/are...</legend>
                <input type="checkbox" name="primaryTarget">general population
                <input type="checkbox" name="primaryTarget">general migrants
                <input type="checkbox" name="primaryTarget">newly arrived migrants (less than 5 years)
                <input type="checkbox" name="primaryTarget">asylum seekers
                <input type="checkbox" name="primaryTarget">Refugees
                <input type="checkbox" name="primaryTarget">healthcare professionals (doctors, nurses...)
                <input type="checkbox" name="primaryTarget">social care professionals
                <input type="checkbox" name="primaryTarget">Other (please specify)
                <br>
                <br>
                <legend>7. If applicable: The activities of the Organisation/Service are directed to (gender)...
                </legend>
                <input type="checkbox" name="genderTarget">Female
                <input type="checkbox" name="genderTarget">Other (please specify)
                <input type="checkbox" name="genderTarget">Male
                <br>
                <br>
                <label>8. If applicable: The activities of the Organisation/Service are directed to (legally
                  adults/minors)...</label>
                <input type="checkbox" name="ageDirected">Adult
                <input type="checkbox" name="ageDirected">Minor


                <br>
                <br>
                <label>9. Main activities of the Organisation/Service (please check max 3 answers) are...</label>
                <br>
                <input type="checkbox" name="mainActivities">health care provider
                <input type="checkbox" name="mainActivities">social care provider
                <input type="checkbox" name="mainActivities">legal assistance provider
                <input type="checkbox" name="mainActivities">general living information
                <input type="checkbox" name="mainActivities">cultural support and social integration (e.g. mediation,
                translation, advising/orientation, support groups...)
                <input type="checkbox" name="mainActivities">education, learning (e.g.language courses)
                <input type="checkbox" name="mainActivities">recreational, cultural, sport activities
                <input type="checkbox" name="mainActivities">employment and employment training services
                <input type="checkbox" name="mainActivities">housing, shelter
                <input type="checkbox" name="mainActivities">essential goods (food, clothes...)
                <input type="checkbox" name="mainActivities">Other (please specify)
                <br>

                <br>
                <label>10. Head office address and contact information:</label>
                <br>
                <div class="a">

                  Name
                  <input type="text" name="surname"><br> Surname
                  <input type="text" name="adress"> <br> Address
                  <input type="text" name="adress2"><br>Address 2
                  <input type="text" name="city"><br>City/Town
                  <input type="text" name="province"><br>Province
                  <input type="text" name="ZIP"><br>ZIP/Postal Code
                  <input type="text" name="country"><br>Country
                  <input type="text" name="email"><br>Email Address
                  <input type="text" name="phonenumber"><br>Phone Number
                  <input type="text">
                  <br>
                  <br>
                </div>
                <label>11. Additional contact information
                </label>
                <br>
                Name
                <input type="text" name="surname aditional">Surname
                <input type="text" name="adress aditional">Address
                <input type="text" name="adress aditional 2">Address 2
                <input type="text" name="city aditional">City/Town
                <input type="text" name="province aditional">Province
                <input type="text" name="zip aditional">ZIP/Postal Code
                <input type="text" name="country aditional">Country
                <input type="text" name="email aditional">Email Address
                <input type="text" name="phone number aditional">Phone Number
                <br>
                <br>
                <label>12. Website</label>
                <br>
                <p>Copy and paste the web address of the Organisation/Service</p>
                <input type="text" name="website">
                <br>
                <br>

                <br>
                <label>13. Do you know about other Organisation/Service that may be relevant for the purpose of MYHEALTH
                  project?</label>
                <br>
                <input type="radio" name="relevantOther">Yes
                <input type="radio" name="relevantOther">No
                <br>
                <br>
                <label>14. If yes, please provide other Organisation/Service contact information</label>
                <br>
                Name
                <input type="text" name="surnameotherservice">Surname
                <input type="text" name="email other service">Email
                <input type="text" name="phone number other service">Phone number
                <input type="text" name="website other service">Website
                <br>
                <br>

                15. If you have any comment or question please feel free to write to
                giovanni.ragazzi@regione.emilia-romagna.it or share your thoughts/suggestions in the space below.
                </label>
                <br>
                <br>
                <input type="text" name="comment"><br>
                <input type="button" class="btn btn-success" value="PREV">
                <input type="submit" class="btn btn-danger" value="Done">
              </div>
            </form>
</body>

</html>