@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2gcei');
  src:  url('fonts/icomoon.eot?2gcei#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2gcei') format('truetype'),
    url('fonts/icomoon.woff?2gcei') format('woff'),
    url('fonts/icomoon.svg?2gcei#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-mail4:before {
  content: "\ea86";
}
